# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
venv312/
env/
.venv/

# Model checkpoints
checkpoints/*
!checkpoints/*.pth
!checkpoints/.gitkeep

# Embeddings
embeddings/

# Extra/debug scripts
extra scripts/
evaluate_test_to_all.py

# Images & datasets
images/
Manual_Crops/
Manual_Crops.zip
Manually_cropped_marks/
No_Cropping/
No_Cropping.zip
Other_Marks/*
!Other_Marks/.gitkeep
Yolo_crops/
Yolo_crops.zip
Yolo_normal_test_dataset/

# FAISS indexes
metric_learning_faiss/

# Random search results (ignore checkpoints, keep summary json)
random_search_results/*.pth


# IDE
.vscode/
.idea/
*.swp
*.swo
